*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.conteudo{

    width: 100%;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06283D;
}

.height-box{
    width: 100%;
    height: min-content;
    display: flex;
}

.titulo{
    font-weight: 500;
}

i{
    margin-top: 2px;
    margin-right: 5px;
}




.botao{
    cursor: pointer;
}
.container1{
    width: 0px;
}

.container1{
    position: relative;
    min-width: 400px;
    width: 60vw;

    display: flex;

    font-size: 25px;
    background-color: #fff;
    padding: 28px 32px;
    margin: 20px;
    overflow: hidden;
    border-radius: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 2.0s ease-out;
}

input{
    width: 100%;
}

.container2{

    
    width: 50vw;
    font-size: 25px;
    display: none;
    background-color: #fff;
    padding: 10px 12px;
    margin: 20px;
    

    border-radius: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.6s ease-out;
}


.container3{
    width: 50vw;

    display: none;
    font-size: 12px;
    font-size: 25px;
    background-color: #fff;
    padding: 10px 12px;
    margin: 20px;
    overflow: hidden;
    border-radius: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.6s ease-out;
}

.alturacontainer{
    width: 100%;
    background-color: red;
}

.container4{
    position: relative;
    width: 50vw;

    display: none;
    font-size: 12px;
    font-size: 25px;
    background-color: #fff;
    padding: 28px 32px;
    margin: 20px;
    overflow: hidden;
    border-radius: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.6s ease-out;
}

i{
    cursor: pointer;
}

.alturacontainer{

    width: 100px;
    display: flex;
    background-color: red;
}

.fa-arrow-right{
    color: white;
    background-color: #06283D;
    padding: 5px;

    border-radius: 10px;
}

.fa-user{
    color: #06283D;
}

i{
    color: #06283D;
}

